
body, p
{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#hotbar
{
  text-align: center;
  background-color: rgb(24, 28, 24);
}

button
{
  font-family: fantasy;
}